.row {
  border: 1px solid transparent; 
  cursor: pointer;
}

.row:hover {
  border: 1px solid #0000ff; 
  cursor: pointer;
  z-index:1;
  position: relative;
  outline: none;
}

.headers {
  padding: 12px 0;
  background: rgba(66,170,255, 0.05);
  color: gray
}